<%- include('../templates/user/header.ejs') %>
<%- include('../templates/user/aside.ejs') %>


<main class="main">
    <div class="chat-container">
        <div class="chat-content">
            <div class="chat">
             
            </div>
            <div class="chat-send">
                <textarea></textarea>
                <button id="<%= from.codigo %>" >Enviar</button>
            </div>
        </div>
    </div>
</main>

<%- include('../templates/user/footer.ejs') %>