<%- include('../templates/user/header.ejs') %>

<main class="main">
    
    <div class="container-summons">
        <div class="content-summons">
            <%- include('../templates/user/aside.ejs') %>
            <div class="chat-container">
                <div class="chat-content">
                    <div class="chat-info">
                        <i class="fa fa-comment" aria-hidden="true"></i>Inicie uma conversa
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<script src="/js/news.js"></script>