.footer>div {
    border-top: 1px solid rgba(51, 51, 51, 0.152);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer {
    z-index: 998;
    background: #f6f8f852;
  
}

@media (max-width: 768px) {
    .footer>div {
        font-size: 12px;
    }
}