<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMS</title>
    <link rel="shortcut icon" href="/img/fms.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/content/app.css">
    <link rel="stylesheet" href="/css/app.css">

</head>

<body>
    <div app class='app'>

        <header class="header">

            <a href="/">
                <div class="logo">
                    <img src="/img/logo_site.png">
                </div>
            </a>

            <div class="header-container">

                <div class='dropDown-content'>

                    <i class="fa fa-cog"></i>
                    <div class="dropdown">
                        <i class="fa fa-cogs"></i>
                        <span> Bem vindo <i class="fa fa-sort-down"></i></span>

                    </div>

                    <div wm-menuOption class="dropdownOption">
                        <ul>
                            <li class="border-memu">SummChat</li>
                            <a href="/login/logout">
                                <li class="hover-dropdown logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                                </li>
                            </a>
                        </ul>
                    </div>

                </div>
            </div>


        </header>